{'Desktop', 'Entry', 'Name', 'File', 'Manager', 'Exec', 'WINEPREFIX', 'home', 'user', 'wine', 'windows', 'command', 'start', 'Unix', 'Type', 'Application', 'StartupNotify', 'true', 'Icon', 'BE44_7zFM'}
